.login-form-container {
  aspect-ratio: 3 / 4;
  background: #ffffff;
  max-width: 450px;
  width: 30%;
  display: flex;
  justify-content: center;
}

.login-form {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0;
  margin: 3px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 992px) {
  .login-form-container {
    max-width: none;
    width: 80vmin;
  }
}