.login-page-container {
  height: 100vh;
  background: linear-gradient(to right top, #ffd064, #db5c6e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  background-color: transparent;
  width: 80vw;
  height: 50vh;
}

.login-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0;
  margin: 2px;
  box-sizing: border-box;
  width: 90%;
  height: 7vh;
}

@media screen and (min-width: 600px) {
  .login-form-container {
    background-color: #ffffff;
    width: 20vw;
  }
}
